@import "tailwindcss";

@theme {
    /* --- CSS Variables --- */
    /* Colors */
    --color-background: #0d1321;
    --color-primary: #111d4a;
    --color-secondary: #0466c8;
    --color-red: #ef233c;
}

@layer utilities {
    .glow-icon-secondary {
        filter: drop-shadow(0 0 3px var(--color-secondary)) drop-shadow(0 0 10px var(--color-secondary));
    }

    .glow-icon-secondary-on-hover {
        &:hover {
            filter: drop-shadow(0 0 3px var(--color-secondary)) drop-shadow(0 0 10px var(--color-secondary));
        }
    }

    .glow-icon-primary {
        filter: drop-shadow(0 0 3px var(--color-primary)) drop-shadow(0 0 10px var(--color-primary));
    }

    .glow-secondary {
        box-shadow: 0 0 25px 1px var(--color-secondary);
    }

    .glow-secondary-on-hover {
        &:hover {
            box-shadow: 0 0 25px 1px var(--color-secondary);
        }
    }

    .glow-red-on-hover {
        &:hover {
            filter: drop-shadow(0 0 3px var(--color-red)) drop-shadow(0 0 5px var(--color-red));
        }
    }

    .glow-red-on-hover-inner {
        &:hover {
            box-shadow: inset 0 0 10px 1px var(--color-red);
        }
    }

    .group-hover-glow-red:hover {
        filter: drop-shadow(0 0 1px var(--color-red)) drop-shadow(0 0 5px var(--color-red));
    }
}

@layer components {
    .link {
        &:hover {
            filter: drop-shadow(0 0 15px var(--color-secondary));
        }

        @apply transition-all duration-200 hover:scale-125 hover:text-secondary hover:underline
    }

    .primary-button {
        @apply bg-primary text-white py-2 px-4 rounded-lg transition-all duration-200;

        &:hover {
            @apply bg-secondary text-black font-bold;
        }
    }

    .secondary-button {
        @apply bg-gray-200 text-black py-2 px-4 rounded-lg transition-all duration-200;

        &:hover {
            @apply bg-primary text-white font-bold;
        }
    }
}

button:hover {
    cursor: pointer;
}